@page "/addadv"
@using Newtonsoft.Json 
@inject HttpClient Http
@inject NavigationManager NavManager

    <div class="workblock">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h3>Добавить ВУЗ</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                <form>
                    <div class="form-group row">
                        <label for="id" class="col-sm-3 col-form-label">Идентификатор записи</label>
                        <div class="col-sm-9">
                            <input @bind="adv.id" type="text" readonly class="form-control-plaintext" id="id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fnlnmn" class="col-sm-3 col-form-label">Наименование ВУЗа</label>
                        <div class="col-sm-9">
                            <input @bind="fnlnp" type="text" class="form-control" id="fnlnmn" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-3 col-form-label">Номер телефона</label>
                        <div class="col-sm-9">
                            <input @bind="adv.phoneNumber" type="text" class="form-control" id="phone" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price-usd" class="col-sm-3 col-form-label">Цена в USD</label>
                        <div class="col-sm-9">
                            <input @bind="adv.priceUSD" type="text" class="form-control" id="price-usd" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="rate" class="col-sm-3 col-form-label">Курс</label>
                        <div class="col-sm-9">
                            <input @bind="course.Course" type="text" readonly class="form-control-plaintext" id="rate">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="price-byn" class="col-sm-3 col-form-label">Цена в BYN</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext" id="price-byn" value="@getPriceBYN()">
                        </div>
                    </div>

                    <button @onclick="submitForm" class="btn btn-primary" type="submit">Отправить</button>

                </form>
            </div>
        </div>
       </div>


@code {

    CurrencyCourse course;
    Advertisment adv;
    string fnlnp;

    protected override async Task OnInitializedAsync()
    {

        course = new CurrencyCourse();

        var response = await Http.GetStringAsync("http://127.0.0.1:3000/getcourse");
        course = JsonConvert.DeserializeObject<CurrencyCourse>(response);
        adv.course = course.Course;

    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        adv = new Advertisment();

    }

    private float getPriceBYN()
    {
        adv.priceBYN = adv.priceUSD * adv.course;
        return adv.priceBYN;
    }

    protected async Task submitForm()
    {
        string[] words = fnlnp.Split(' ');

        adv.name = words[0];
        

        await Http.PostAsJsonAsync<Advertisment>("http://localhost:10000/api/Advertisments/addAdvertisment", adv);
        NavManager.NavigateTo("/advlist");
    }


}
