@page "/"

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 header">
        <h2>Добро пожаловать в базу данных ВУЗов!</h2>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-6 subheader">
        <h4>Для добавления ВУЗа перейдите в раздел “Добавить ВУЗ”.</h4>
    </div>
</div>
